<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426641569433-tb32hvlf54101e9utb3oaqggip55mqh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426641569433-tb32hvlf54101e9utb3oaqggip55mqh0</string>
	<key>API_KEY</key>
	<string>AIzaSyCk_GqIpijZrns5evuTWzK9GDgJbOYypr8</string>
	<key>GCM_SENDER_ID</key>
	<string>426641569433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MapFriends</string>
	<key>PROJECT_ID</key>
	<string>mapfriends-e37f3</string>
	<key>STORAGE_BUCKET</key>
	<string>mapfriends-e37f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426641569433:ios:d3d644940b43f9915b6a08</string>
</dict>
</plist>